<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item active bg-light text-dark" routerLink="UCempleados" >
                <a class="nav-link text-primary">Registro y Actualizacion Empleados</a>
            </li>
            <li class="nav-item active bg-light text-dark" routerLink="RDEmpleados">
                <a class="nav-link text-primary">Consulta y Elminar Empleados</a>
            </li>
        </ul>
        </div> 
</nav>
<router-outlet></router-outlet>